In [1]:
import pandas as pd
import numpy as np

In [2]:
fifa=pd.read_csv('fifa21_train.csv')

In [3]:
pd.set_option('display.max_columns', None) # TO DISPLAY ALL COLUMNS
#display(fifa)

# Functions

In [4]:
def clean_position(df):
    df2=df.copy()
    na_in_position_indexes = list(df2[df2['Position'].isna()==True].index)# filters out into a list the na  row indexes from "Position" column lable. Position column index = 6  
    df2.iloc[na_in_position_indexes, 6] = df2.iloc[na_in_position_indexes, 5] # 6&5 being the respective indexes for 'Position'column label and 'BP'column label
    return df2

In [5]:
def clean_club (df):
    df2=df.copy()
    df2['Club'] = df2['Club'].fillna('TBD')
    return df2

In [6]:
def clean_AW(df):
    df2=df.copy()
    df['A/W'] = df['A/W'] .fillna('Medium')
    return df2

In [7]:
def clean_DW(df):
    df2=df.copy()
    df2['D/W'] = df2['D/W'] .fillna('Medium')
    return df2

In [8]:
def meannum(df):
    df2=df.copy()
    for column in ['Volleys','Vision','Jumping','Balance','Agility','Curve','Composure','Interceptions','Positioning','Sliding Tackle']:
        df2[column] = df2[column].fillna(df2[column].mean())

    return df2

# CODE ABOVE DID NOT CODE. CHECK LATER!

# def meannum(df):
#     df2=df.copy()
#     df2['Volleys'] = df2['Volleys'].fillna(df2['Volleys'].mean())
#     df2['Vision'] = df2['Vision'].fillna(df2['Vision'].mean())
#     df2['Jumping'] = df2['Jumping'].fillna(df2['Jumping'].mean())
#     df2['Balance'] = df2['Balance'].fillna(df2['Balance'].mean())
#     df2['Agility'] = df2['Agility'].fillna(df2['Agility'].mean())
#     df2['Curve'] = df2['Curve'].fillna(df2['Curve'].mean())
#     df2['Composure'] = df2['Composure'].fillna(df2['Composure'].mean())
#     df2['Interceptions'] = df2['Interceptions'].fillna(df2['Interceptions'].mean())
#     df2['Positioning'] = df2['Positioning'].fillna(df2['Positioning'].mean())
#     df2['Sliding Tackle'] = df2['Sliding Tackle'].fillna(df2['Sliding Tackle'].mean())
#     return df2

In [9]:
fifa_new = meannum(fifa)

In [10]:
fifa_new.isna().sum()[fifa_new.isna().sum()>0]

Club                18
Position           288
Joined              41
Loan Date End    11072
A/W                 59
D/W                 59
dtype: int64

In [11]:
def add_values(text):
    return sum([int(x) for x in text.split('+')])

def adding(df):
    df2 = df.copy()
    for column in df2.columns[73:-1]:
        df2[column] = df2[column].apply(add_values)
        
    return df2

In [12]:
def get_year(text):
    if isinstance(text,str):
        return int(text[-4:])
    else:
        return text
def addcleanyear(df):
    df2 = df.copy()
    df2['Joined'] = df2.Joined.apply(get_year)
    df2['Joined'] = df2['Joined'].fillna(round(df2.Joined.mean(),0))
    
    return df2

In [13]:
#fifa.head()

In [14]:
def dollarvalue(text):
    if isinstance(text,str) and 'M' in text:
        return float(text[1:-1]) * 1000000
    
    elif isinstance(text,str) and 'K' in text:
        return float(text[1:-1]) * 1000
    
    elif isinstance(text,str):
        return float(text[1:])
    
    else:
        return 0
def adddollarvalue(df):
    df2 = df.copy()
    for column in ['Value','Wage','Release Clause']:
        df2[column] = df2[column].apply(dollarvalue)
    
    return df2

In [15]:
def columndrop(df):
    df2 = df.copy()
    df2 = df2.drop(['Loan Date End'], axis=1)
    
    return df2

In [16]:
def Hitschangetonumeric(df):
    df2 = df.copy()
    df2['Hits'] =  pd.to_numeric(df2['Hits'], errors='coerce')
    df2['Hits'] = df2['Hits'].fillna(round(df2.Hits.mean(),0))
    return df2

In [17]:
def weight(text):
    if isinstance(text,str):
        return float(text[:-3])    
    else:
        return text
def addweight(df):
    df2 = df.copy()
    df2['Weight'] = df2.Weight.apply(weight)
    
    return df2

In [18]:
def heightconver(h):
    h=h[:-1].split("'")
    return float(h[0])*0.3048 + float(h[1])*0.0254

def addheightconver(df):
    df2 = df.copy()
    df2['Height'] = df2.Height.apply(heightconver)
    return df2

# Mother function

In [19]:
def clean_df(df):
    df2=df.copy()
    df2['SM'] = df2['SM'].apply(lambda x: int(x[0]))
    df2['IR'] = df2['IR'].apply(lambda x: int(x[0]))
    df2['W/F'] = df2['W/F'].apply(lambda x: int(x[0]))
    df2=clean_position(df2)
    df2=clean_club(df2)
    df2=clean_AW(df2)
    df2=clean_DW(df2)
    df2=meannum(df2)
    df2=adding(df2)
    df2=addcleanyear(df2)
    df2=adddollarvalue(df2)
    df2=columndrop(df2)
    df2=Hitschangetonumeric(df2)
    df2=addweight(df2)
    df2=addheightconver(df2)
    return df2

In [20]:
fifa_clean = clean_df(fifa)

# END of functions & Cleaning

In [21]:
numerical= fifa_clean.select_dtypes([np.number]) # Numerical dataframes 
#display(numerical)

In [22]:
categorical=fifa_clean.select_dtypes(['object']) # Cagegorical dataframes 
#display(categorical)

In [23]:
numerical.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,11701.0,219436.649004,37480.006004,27.0000,204060.0000,229040.0000,244176.0000,259090.0000
Age,11701.0,25.270490,4.957640,16.0000,21.0000,25.0000,29.0000,43.0000
Height,11701.0,1.812252,0.069136,1.5494,1.7526,1.8034,1.8542,2.0574
Weight,11701.0,165.582429,15.828282,117.0000,154.0000,165.0000,176.0000,243.0000
Growth,11701.0,5.534655,5.810903,-1.0000,0.0000,4.0000,10.0000,26.0000
...,...,...,...,...,...,...,...,...
CB,11701.0,54.881634,14.412883,18.0000,44.0000,57.0000,66.0000,89.0000
RCB,11701.0,54.881634,14.412883,18.0000,44.0000,57.0000,66.0000,89.0000
RB,11701.0,56.173319,13.534768,15.0000,49.0000,59.0000,66.0000,86.0000
GK,11701.0,22.667977,14.524695,10.0000,17.0000,18.0000,20.0000,91.0000
OVA,11701.0,66.921972,6.876081,38.0000,62.0000,67.0000,72.0000,93.0000

In [24]:
import sklearn
from sklearn.preprocessing import MinMaxScaler 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [25]:
y = numerical['OVA']
X = numerical.drop(['OVA'], axis=1)

In [26]:
X.isna().sum()[X.isna().sum()>0]

Series([], dtype: int64)

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=14) # SPLIT COMPLETE

In [43]:
MinMaxScalertransformer = MinMaxScaler().fit(X_train)
X_train_normalized = MinMaxScalertransformer.transform(X_train)
#display(X_train_normalized)
print(X_train_normalized.shape)
#display(pd.DataFrame(X_train_normalized, columns=X_train.columns))
X_test_normalized = MinMaxScalertransformer.transform(X_test)
#display(X_test_normalized)
print(X_test_normalized.shape)
#display(pd.DataFrame(X_test_normalized, columns=X_test.columns))

(9360, 89)
(2341, 89)

In [44]:
X_train_normalized=(pd.DataFrame(X_train_normalized, columns=X_train.columns))
X_test_normalized=(pd.DataFrame(X_test_normalized, columns=X_test.columns))

In [45]:
lm = LinearRegression()
lm.fit(X_train_normalized,y_train)

LinearRegression()

In [46]:
y_pred_train = lm.predict(X_train_normalized)
r2_score(y_train, y_pred_train)

0.9123369838592966

In [47]:
y_pred_test = lm.predict(X_test_normalized)
r2_score(y_test, y_pred_test)

0.9104442523798137

In [48]:
lm.intercept_

46.161678780554176

In [49]:
lm.coef_

array([-1.03830943e+00,  4.16202237e-01, -1.17467523e+00,  7.26311122e-01,
       -3.27180025e+00, -1.24138464e+00,  1.88543923e+01, -3.59035384e-01,
       -5.40042491e+00,  4.38652905e+00, -3.61456174e+00, -5.53839723e+00,
        5.52548926e+00, -2.26839851e+00, -1.67917321e+00,  2.96507544e+00,
       -9.79778658e+00, -9.21723773e-01, -2.04356892e-01, -6.68343172e+00,
        1.31353938e+00,  1.68574012e+01, -5.76271335e+00, -6.08536367e+00,
       -5.36721467e+00,  9.69810055e+00, -4.84797851e+00,  6.16057520e+00,
       -2.17505684e+00, -1.37801513e+00, -7.43739081e+00, -3.43997715e+00,
       -4.99961004e+00, -1.94746193e+01,  2.54947521e+00,  1.27140060e-01,
       -1.24018939e+00,  2.11300933e-02,  5.47185096e+00,  5.53026613e+00,
        6.26272693e+00, -2.47437234e+00, -4.09559968e+00, -4.36845696e+00,
       -4.11355799e+01,  1.17993327e+01,  1.13674897e+01,  7.89081589e+00,
        1.24460728e+01,  1.10844227e+01, -7.66754209e+00,  7.11320802e+00,
       -8.45752054e-02,  2.78351879e+00,  7.65910265e-01,  2.81158859e+00,
        4.53543209e+00,  2.91288624e+00,  1.22580994e+01, -1.83917616e+00,
        6.73339550e+00,  2.04829159e+00,  4.73738768e+00,  4.73738768e+00,
        4.73738768e+00, -4.53216141e-01, -1.82102484e+00, -1.82102484e+00,
       -1.82102484e+00, -4.53216141e-01, -1.64243952e+00, -1.64243952e+00,
       -1.64243952e+00,  6.59540417e+00,  1.72192412e+00,  1.72192412e+00,
        1.72192412e+00,  6.59540417e+00,  8.04410524e-01,  8.33239771e+00,
        8.33239771e+00,  8.33239771e+00,  8.04410524e-01,  9.14116753e+00,
       -4.82266825e+00, -4.82266825e+00, -4.82266825e+00,  9.14116753e+00,
       -1.33146075e+01])